[submodule "submodules/Framework.Restservice"]
	path = submodules/Framework.Restservice
	url = https://github.com/Codelisk/Framework.Restservice.git
[submodule "submodules/Framework.Uno"]
	path = submodules/Framework.Uno
	url = https://github.com/Codelisk/Framework.Uno.git
